html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* {
  box-sizing: border-box;
}
.logo {
  background: #323A45;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu {
  width: 500px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}
.menu__logo {
  margin: 0 auto;
  width: 100%;
  font-size: 42px;
  height: 120px;
  line-height: 120px;
}
.menu__wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu__title {
  width: 100%;
  font-size: 32px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu__btn {
  position: relative;
  box-sizing: content-box;
  width: 70%;
  height: 45px;
  background-color: #323A45;
  border: 0;
  margin: 10px auto;
  color: #ffffff;
  font-size: 16px;
  line-height: 45px;
  transition: all 0.3s;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top-width: 0;
  border-bottom: 5px solid #272e36;
  padding: 0;
}
.menu__btn:focus {
  outline: none;
  background: #475363;
  border-bottom: 5px solid #323a45;
}
.menu__btn:hover {
  background: #475363;
  border-bottom: 5px solid #323a45;
}
.menu__btn:active {
  transition: top 0.3s;
  border-bottom-width: 0;
  top: 5px;
  margin-bottom: 15px;
}
.menu__btn--small {
  width: 35%;
  display: inline-block;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.menu__btn--back {
  background: #e9ecf0;
  color: #5E6D82;
  border-bottom: 5px solid #cbd2db;
}
.menu__btn--back:hover {
  background: #cbd2db;
  border-bottom: 5px solid #bcc5d1;
}
.menu__btn--back:active {
  transition: top 0.3s;
  border-bottom-width: 0;
  top: 5px;
  margin-bottom: 15px;
}
.menu__result {
  text-align: center;
}
.menu__double-btn-wrap {
  margin: 10px 2.5%;
}
#form__alert {
  width: 80%;
  height: 40px;
  margin: 10px 10%;
  border: 0;
  line-height: 40px;
  font-size: 16px;
  height: auto;
  background: #F5696C;
  color: #ffffff;
  padding-left: 2%;
  padding-right: 2%;
}
.form__text_input {
  width: 80%;
  height: 40px;
  margin: 10px 10%;
  border: 0;
  line-height: 40px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s;
  background: #e9ecf0;
  color: #5E6D82;
  padding-left: 2%;
  padding-right: 2%;
}
.form__text_input:focus {
  outline: none;
  background-color: #F3F3F3;
}
.form__text_input:hover {
  outline: none;
  background-color: #F3F3F3;
}
.form__submit_input {
  width: 80%;
  height: 40px;
  margin: 10px 10%;
  line-height: 40px;
  position: relative;
  box-sizing: content-box;
  padding: 0;
  width: 70%;
  height: 45px;
  background-color: #323A45;
  border: 0;
  margin: 10px auto;
  color: #ffffff;
  font-size: 16px;
  line-height: 45px;
  transition: background-color 0.3s;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top-width: 0;
  border-bottom: 5px solid #272e36;
}
.form__submit_input:focus {
  outline: none;
}
.form__submit_input:active {
  transition: top 0.3s;
  border-bottom-width: 0;
  margin-top: 15px;
}
.scoreboard {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.scoreboard_name {
  width: 80%;
}
.scoreboard__rating {
  width: 20%;
  text-align: center;
}
.scoreboard__title {
  font-weight: bold;
}
.header {
  clear: both;
  height: 50px;
  line-height: 50px;
  min-height: 50px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFFFF;
  background: #323A45;
  width: 100%;
  display: inline-block;
}
.header__logo {
  width: 200px;
  font-size: 24px;
  height: 50px;
  float: left;
  text-align: left;
  padding-left: 5%;
}
.header__score {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.header__user {
  width: 200px;
  float: right;
  text-align: right;
  padding-right: 5%;
  cursor: pointer;
}
.header_a {
  text-decoration: none;
  color: white;
}
.game {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.41);
  border-bottom-width: 0;
  border-top-width: 0;
  border-left-width: 2px;
  border-right-width: 2px;
}
.game--horizontal_border {
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
}
#dynamicLayer {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
.dude {
  position: fixed;
  right: -50%;
  bottom: -50%;
  width: 350px;
  height: 300px;
  background: url("../img/js-dude.png");
  transition: all 0.7s;
}
.dude__title {
  position: absolute;
  top: 22px;
  left: 7px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  width: 215px;
  height: 62px;
  padding: 10px;
  line-height: 20px;
  overflow: hidden;
}
.dude--show {
  bottom: 0;
  right: 0;
  transition: all 0.7s;
}
.page {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  min-width: 368px;
}
.page__background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .dude {
    display: none;
  }
  .header {
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    font-size: 10px;
  }
  .header__logo {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
  .header__user {
    width: 90px;
  }
}
@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
  }
}
