@import "variables.less";

#form__alert {
    width: 80%;
    margin: 10px 10% 10px 10%;
    border: 0;
    border-radius: 5px;
    line-height: 40px;
    font-size: 16px;
    background: #F5696C;
    color: #ffffff;
    padding-left: 2%;
    padding-right: 2%;
}

.form__text_input {
    width: 80%;
    height: 40px;
    margin: 10px 10% 10px 10%;
    border: 0;
    border-radius: 5px;
    line-height: 40px;
    font-size: 16px;
    transition: all 0.3s;

    background: #e9ecf0;
    color: #5E6D82;
    padding-left: 2%;
    padding-right: 2%;

}

.form__text_input:focus {
    outline: none;
    background-color: #F3F3F3;
}

.form__submit_input {
    width: 80%;
    height: 40px;
    margin: 10px 10% 10px 10%;
    border: 0;
    border-radius: 5px;
    line-height: 40px;
    font-size: 16px;
    transition: all 0.3s;
    cursor : pointer;

    background-color: #323A45;
    color: #FFFFFF;
    text-align: center;
}
.form__submit_input:focus {
    outline: none;
}
.form__submit_input:hover {
    background: #0E778A;
}
