.scoreboard {
    width: 100%;
    margin-top:20px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.scoreboard__name {
    width: 80%;
}
.scoreboard__rating {
    width: 20%;
    text-align: center;
}
.scoreboard__title {
    font-weight: bold;
}
